@import '../../global.scss';
.card{
    width: 100%;
    min-height: 100vh;
    @include df(center,center);
    position: relative;
    .container{
        width: 500px;
        height: 700px;
        background: #fff;
        box-shadow: 0 2px 5px #071245;
        border-radius: 5px;
        overflow: hidden;
        @include dfc(center, flex-start);
        .name{
            width: 100%;
            @include dfc(center,center);
            padding: 2%;
            h1{
                color: rgb(1, 127, 181);
            }
            p{
                color: #0a2257;
                margin: 10px 0;
            }
        }
    }
    a{
        text-decoration: none;
        background: #fff;
        position: absolute;
        top: 30px;
        left: 30px;
        padding: 10px 20px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.34);
        &:hover{
            box-shadow: 0 5px 10px #0712457f;;
        }
    }
}